<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterblogApp.blog.home.title">Blogs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blog" [routerLink]="['/blog/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterblogApp.blog.home.createLabel">
            Create a new Blog
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="blogs?.length === 0">
        <span jhiTranslate="jhipsterblogApp.blog.home.notFound">No blogs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="blogs && blogs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterblogApp.blog.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterblogApp.blog.handle">Handle</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterblogApp.blog.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of blogs ;trackBy: trackId">
                    <td><a [routerLink]="['/blog', blog.id, 'view']">{{ blog.id }}</a></td>
                    <td>{{ blog.name }}</td>
                    <td>{{ blog.handle }}</td>
                    <td>
                        {{ blog.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/blog', blog.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/blog', blog.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(blog)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
