<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blog">
            <h2><span jhiTranslate="jhipsterblogApp.blog.detail.title">Blog</span> {{ blog.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterblogApp.blog.name">Name</span></dt>
                <dd>
                    <span>{{ blog.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.blog.handle">Handle</span></dt>
                <dd>
                    <span>{{ blog.handle }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.blog.user">User</span></dt>
                <dd>
                    {{ blog.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/blog', blog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
