<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entry">
            <h2><span jhiTranslate="jhipsterblogApp.entry.detail.title">Entry</span> {{ entry.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterblogApp.entry.title">Title</span></dt>
                <dd>
                    <span>{{ entry.title }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.entry.content">Content</span></dt>
                <dd>
                    <span>{{ entry.content }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.entry.date">Date</span></dt>
                <dd>
                    <span>{{ entry.date }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.entry.blog">Blog</span></dt>
                <dd>
                    <div *ngIf="entry.blog">
                        <a [routerLink]="['/blog', entry.blog?.id, 'view']">{{ entry.blog?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterblogApp.entry.tag">Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of entry.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entry', entry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
